<nav class="encounters flexrow gfl5r" id="gfl5r_gm_combat_tracker_bar">
    <ul class="encounter">
        {{#each encounterTypeList}}
            <li class="encounter encounter-control{{#ifCond this '==' ../encounterType}} active{{/ifCond}}" data-id="{{this}}" title="{{this}}">
                {{#ifCond this '==' 'intrigue'}}INTR{{/ifCond}}
                {{#ifCond this '==' 'duel'}}DUEL{{/ifCond}}
                {{#ifCond this '==' 'skirmish'}}SKRM{{/ifCond}}
                {{#ifCond this '==' 'mass_battle'}}MASS{{/ifCond}}
            </li>
        {{/each}}
    </ul>
    <ul class="prepared">
        {{#each prepared as |prepared charType|}}
            <li class="encounter prepared-control" data-id="{{charType}}" title="{{prepared}} ({{charType}})">
                {{#ifCond prepared '==' 'true'}}T{{/ifCond}}
                {{#ifCond prepared '==' 'false'}}F{{/ifCond}}
                {{#ifCond prepared '==' 'actor'}}A{{/ifCond}}
            </li>
        {{/each}}
    </ul>
</nav>
