<form class="actor-sheet" autocomplete="off">
  <header class="sheet-header flexrow">
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
    </h1>
  </header>

  <section class="grid grid-2col">
    <div>
      <h2>Approaches</h2>

      <div class="form-group">
        <label>Power</label>
        <input type="number" name="system.approaches.power" value="{{actor.system.approaches.power}}" min="0"/>
      </div>

      <div class="form-group">
        <label>Swiftness</label>
        <input type="number" name="system.approaches.swiftness" value="{{actor.system.approaches.swiftness}}" min="0"/>
      </div>

      <div class="form-group">
        <label>Resilience</label>
        <input type="number" name="system.approaches.resilience" value="{{actor.system.approaches.resilience}}" min="0"/>
      </div>

      <div class="form-group">
        <label>Precision</label>
        <input type="number" name="system.approaches.precision" value="{{actor.system.approaches.precision}}" min="0"/>
      </div>

      <div class="form-group">
        <label>Fortune</label>
        <input type="number" name="system.approaches.fortune" value="{{actor.system.approaches.fortune}}" min="0"/>
      </div>
    </div>

    <div>
      <h2>Derived</h2>
      <div class="form-group">
        <label>Endurance</label>
        <input type="text" value="{{derived.endurance}}" disabled/>
      </div>
      <div class="form-group">
        <label>Composure</label>
        <input type="text" value="{{derived.composure}}" disabled/>
      </div>
      <div class="form-group">
        <label>Vigilance</label>
        <input type="text" value="{{derived.vigilance}}" disabled/>
      </div>
      <div class="form-group">
        <label>Focus</label>
        <input type="text" value="{{derived.focus}}" disabled/>
      </div>
      <div class="form-group">
        <label>Fortune Points</label>
        <input type="text" value="{{derived.fortunePointsCurrent}} / {{derived.fortunePointsMax}}" disabled/>
      </div>
    </div>
  </section>
</form>
