<form class="item-sheet gfl5r-sheet container-fluid py-3 text-light" data-bs-theme="dark" autocomplete="off">
  <header class="mb-4">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <img class="img-thumbnail" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="width:96px; height:96px;" />
      </div>
      <div class="col">
        <input class="form-control form-control-lg fw-bold" name="name" type="text" value="{{item.name}}" placeholder="Ability Name" />
        <div class="row g-3 mt-2">
          <div class="col-md-3">
            <label class="form-label">Activation</label>
            <select class="form-select" name="system.activation">
              {{selectOptions (object "passive" "Passive" "movement" "Movement" "action" "Action") selected=item.system.activation localize=false}}
            </select>
          </div>
          <div class="col-md-3">
            <label class="form-label">Associated Skill</label>
            <select class="form-select" name="system.skill">
              <option value="">None</option>
              {{#each skillGroups as |group|}}
                <optgroup label="{{group.title}}">
                  {{#each group.items as |skill|}}
                    <option value="{{skill.key}}" {{#ifCond ../item.system.skill "==" skill.key}}selected{{/ifCond}}>{{skill.label}}</option>
                  {{/each}}
                </optgroup>
              {{/each}}
            </select>
          </div>
          <div class="col-md-3">
            <label class="form-label">XP Cost</label>
            <input class="form-control" type="number" name="system.xpCost" value="{{item.system.xpCost}}" min="0" />
          </div>
          <div class="col-md-3">
            <label class="form-label">Required Rank</label>
            <input class="form-control" type="number" name="system.requiredRank" value="{{item.system.requiredRank}}" min="0" />
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="card">
    <div class="card-header fw-semibold">Description</div>
    <div class="card-body">
      <textarea class="form-control" name="system.description" rows="10">{{item.system.description}}</textarea>
    </div>
  </section>
</form>
