<section class="item-sheet gfl5r-sheet container-fluid py-3 text-light" data-bs-theme="dark">
  <header class="mb-4">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <img class="img-thumbnail" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="width:96px; height:96px;" />
      </div>
      <div class="col">
        <input class="form-control form-control-lg fw-bold" name="name" type="text" value="{{item.name}}" placeholder="Module Name"/>
        <div class="row g-3 mt-2">
          <div class="col-md-6">
            <label class="form-label">URNC Credits (Price)</label>
            <input class="form-control" type="number" name="system.urncCredits" value="{{item.system.urncCredits}}" min="0"/>
          </div>
          <div class="col-md-6">
            <label class="form-label">Module Type</label>
            <select class="form-select" name="system.moduleType">
              <option value="passive" {{#if (eq item.system.moduleType "passive")}}selected{{/if}}>Passive Ability</option>
              <option value="skillIncrease" {{#if (eq item.system.moduleType "skillIncrease")}}selected{{/if}}>Increase Skill by 1</option>
              <option value="approachIncrease" {{#if (eq item.system.moduleType "approachIncrease")}}selected{{/if}}>Increase Approach by 1</option>
            </select>
          </div>
        </div>
        {{#if (eq item.system.moduleType "skillIncrease")}}
        <div class="row g-3 mt-2">
          <div class="col-md-6">
            <label class="form-label">Target Skill</label>
            <select class="form-select" name="system.targetSkill">
              {{#each skills}}
              <option value="{{key}}" {{#if (eq ../item.system.targetSkill key)}}selected{{/if}}>{{label}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        {{/if}}
        {{#if (eq item.system.moduleType "approachIncrease")}}
        <div class="row g-3 mt-2">
          <div class="col-md-6">
            <label class="form-label">Target Approach</label>
            <select class="form-select" name="system.targetApproach">
              {{#each approaches}}
              <option value="{{key}}" {{#if (eq ../item.system.targetApproach key)}}selected{{/if}}>{{label}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </header>

  <section class="card">
    <div class="card-header fw-semibold">Description</div>
    <div class="card-body">
      <textarea class="form-control" name="system.description" rows="12">{{item.system.description}}</textarea>
    </div>
  </section>
</section>
