<section class="item-sheet gfl5r-sheet container-fluid py-3 text-light" data-bs-theme="dark">
  <header class="mb-4">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <img class="img-thumbnail" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="width:96px; height:96px;" />
      </div>
      <div class="col">
        <input class="form-control form-control-lg fw-bold" name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
        <div class="row g-3 mt-2">
          <div class="col-sm-6">
            <label class="form-label">Price</label>
            <input class="form-control" type="number" name="system.price" value="{{item.system.price}}" min="0" />
          </div>
          <div class="col-sm-6">
            <label class="form-label">Rarity (0-10)</label>
            <input class="form-control" type="number" name="system.rarity" value="{{item.system.rarity}}" min="0" max="10" />
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="card">
    <div class="card-header fw-semibold">Description</div>
    <div class="card-body">
      <textarea class="form-control" name="system.description" rows="10">{{item.system.description}}</textarea>
    </div>
  </section>
</section>