<form class="gfl5r gfl-roll-prompt">
  <div class="grid" style="grid-template-columns:1fr 1fr; gap:12px;">
    <!-- Approach selector -->
    <div class="form-group vertical">
      <label>Approach</label>
      <select name="approach">
        {{#each approaches as |val key|}}
          <option value="{{key}}">{{capitalize key}} ({{val}})</option>
        {{/each}}
      </select>
    </div>

    <!-- Target Number input -->
    <div class="form-group vertical">
      <label>TN</label>
      <input type="number" name="tn" value="{{defaultTN}}" min="0"/>

      <label style="display:flex;gap:8px;align-items:center;margin-top:8px;color:var(--gfl-text-dim);">
        <input type="checkbox" name="hiddenTN" />
        Hide TN (+1 Fortune)
      </label>
    </div>
  </div>
</form>
